# terraform 상태 관리파일은 push 안함
*/.terraform/*
.terraform
*/terraform.tfstate
terraform.tfstate
*/terraform.tfstate.backup
terraform.tfstate.backup
*/terraform.tfstate.d/*
.terraform.lock.hcl
.terraform.tfstate.lock.info

# s3 cp 디플로이 결과로 만들어지는 zip파일은 push 안함
build.zip