# terraform 상태 관리파일은 push 안함
*/.terraform/*
.terraform
*/terraform.tfstate
terraform.tfstate
*/terraform.tfstate.backup
terraform.tfstate.backup
*/terraform.tfstate.d/*
.terraform.lock.hcl
.terraform.tfstate.lock.info

# docker terraform aws profile은 push 안함
/docker-aws-config/*
!/docker-aws-config/.keep